*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100vh;
}

.faixa{
    height: 50px;
    width: 100vh;
    background-color: lightpink;
    top: 0px;
}

.disney{
    margin: 12px;
}

.flex{
    display: flex;
}

.container{
    display: 'grid';
    grid-template-columns: '50% 50%';
}